table, tr, td{
    border: solid 1px black;
    border-collapse: collapse;
}
 
.largura{
    background-color: rebeccapurple;
    color: whitesmoke;
}
 
#largColuna{
    width: 100px;
 
}
body{
font-family: Verdana, Geneva, Tahoma, sans-serif    ;
}
